
body{
    margin: 0;
}
nav{
 display: flex;  
 justify-content: space-between; 
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color: rgb(243, 235, 243);
    padding: 2rem;
    
}
header{
    background-color: rgb(103, 228, 228);
    color: rgb(240, 248, 248);
    padding: 1rem;
}
nav a:hover{
    color: rgb(17, 19, 19);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px;
}
.hero img{
    width: 200px;
    border-radius: 100px;
    height:200px ;
    margin-right: 10%;
    object-fit: cover;
}

section{
    padding: 2rem;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 1rem;
}
.skill{
    background-color: rgb(161, 230, 25);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
.container{
    background-color: blueviolet;
}
.projekcard{
    padding: 1rem;
    border-left: 50px solid#ffc107;
    border-radius: 5px;
    margin-top: 1rem;
}
.sosialicons{
    font-size: 2rem;
    margin-right: 15px;
    color: #ffc107;
    transition: 0,3s;
}
.footer{
    text-align: center ;
    padding:1rem;
    background-color: black;
    color: aliceblue;
    margin-top: 2rem;
    
}
.container{
    background-color: #111110;
}