
body{
    margin: 0;
}
nav{
 display: flex;  
 justify-content: space-between; 
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color: rgb(243, 235, 243);
    padding: 2rem;
    
}
header{
    
    background: #22C1C3;
background: linear-gradient(101deg,rgba(34, 193, 195, 0.53) 0%, rgba(253, 187, 45, 1) 100%);
    padding: 1rem;
}
nav a:hover{
    color: rgb(17, 19, 19);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A7B9B;
background: linear-gradient(340deg,rgba(42, 123, 155, 1) 11%, rgba(87, 199, 133, 1) 28%, rgba(237, 83, 188, 1) 98%);
    padding: 20px;
}
.hero img{
    width: 200px;
    border-radius: 100px;
    height:200px ;
    margin-right: 10%;
    object-fit: cover;
}

section{
    padding: 2rem;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 1rem;
}
.skill{
    background: #3F5EFB;
background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 188, 0.52) 100%);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
.container{
    background: #fb873f;
background: radial-gradient(circle,rgba(251, 135, 63, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
.projekcard{
    padding: 1rem;
    border-left: 50px solid#ffc107;
    border-radius: 5px;
    margin-top: 1rem;
}
.sosialicons{
    font-size: 2rem;
    margin-right: 15px;
    color: #ffc107;
    transition: 0,3s;
}
.footer{
    text-align: center ;
    padding:1rem;
    background-color: rgb(182, 94, 94);
    color: aliceblue;
    margin-top: 2rem;
    
}
.container{
    background-color: #006ae2;
    display: flex;
    justify-content: center;
    
}